{{define "alert"}}
    <div class="alert-danger" role="alert">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error</strong> Something went wrong!
    </div>
{{end}}