{{define "alert"}}
    <div class="alert alert-{{.Level}}" role="alert">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{.Message}}
    </div>
{{end}}